.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background: url(https://www.toptal.com/designers/subtlepatterns/uploads/gaming-pattern.png);
  color: white;
  text-align: center;

}

h1 {
  color: #353c3f;
}

/* .app-container {
  background-color: aqua;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
} */

h2 {
  background-color: #fd3c3c;
  width: 50px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:  #353c3f;
  margin-top: 15px;
  border-radius: 10px;
  padding: 50px;
  width: 50%;
}

.tandings {
  display: flex;
  margin-bottom: 5px;
}

.tanding {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1.5px dashed black;
  padding: 5px;
}

.content__vs h4,
.result h4 {
  font-size: 20px;
}

.content__vs {
  background: #d5d6d2;
  padding: 10px;
  padding-top: 2px;
  width: 90%;
  border: 5px solid #d5d6d2;
  /* box-shadow: 0 0 10px #d5d6d2; */
  border-radius: 5px;


  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
 */
}

.pilihPlayer {
  background: #d5d6d2;
  padding: 10px;
  width: 90%;
  border: 5px solid #d5d6d2;
  /* box-shadow: 0 0 10px #d5d6d2; */
  border-radius: 30px;



  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d5d6d2;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  border: 5px solid #d5d6d2;
  box-shadow: 0 0 10px #d5d6d2; */

}

img {
  width: 100px;
}

.players__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.player__orang:hover ,
.player__gajah:hover ,
.player__semut:hover {
  box-shadow: 0 0 25px red;
  opacity: 70px;
  border-radius: 50%;
}


.pilihPlayer h4 {
  color: #fd3c3c;
  margin-left: auto;
  margin-right: auto;
}

.result {
  background-color: #ff8d3f;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 30px #ff8d3f;
}

.result__skor {
  background-color: #756867;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.skor__player, 
.skor__computer {
  width: 50%;
  border: 1px solid black;
}

.result__hasil {
  display: flex;
  justify-content: center;
  background-color: #fd3c3c;
  padding: 2px;
}

.result__pemenang {
  background-color: #fd3c3c;
  padding: 5px;
}

/* .result__pemenang p {
  height: 15px;
} */

.button__reset {
  margin-top: 20px;
}

@media only screen and (max-width: 992px) {
  .content {
    width: 70%;
  }
}

@media only screen and (max-width: 725px) {
  .content {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  /* img {
    width: 60px;
  } */

  .content {
    width: 80%;
    padding: 20px;
  }

  .content__vs {
    width: 100%;
    font-size: 16px;
  }

  .content__vs h4 {
    font-size: 16px;
  }

  .tanding img {
    width: 80px;
  }

  .player img {
    width: 65px;
  }

  .result h4 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  /* img {
    width: 60px;
  } */

  .content {
    width: 90%;
    padding: 20px;
  }

  .content__vs {
    width: 100%;
    font-size: 16px;
  }

  .content__vs h4 {
    font-size: 16px;
  }

  .tanding img {
    width: 80px;
  }

  .player img {
    width: 65px;
  }

  .result h4 {
    font-size: 16px;
  }
}